# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iws
*.iml
*.ipr

# =========================
# Java / Build
# =========================
*.class
*.jar
*.war
*.ear
*.exe
*.dll
*.log

# =========================
# Maven / Gradle
# =========================
target/
build/
out/

# =========================
# OS / Others
# =========================
.DS_Store
Thumbs.db
*.swp
*.swo
